<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Error</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body class="font-inter">
    <section class="text-gray-600 body-font">
      <div class="flex justify-center items-center h-screen flex-col">
        <!-- <img src="images/lunha.png" alt="" class="w-4/12" /> -->
        <h1
          class="font-playFair sm:text-8xl text-4xl text-gray-800 font-semibold p-8 text-center"
        >
          Opps! Something went wrong
        </h1>
        <div class="sm:w-9/12">
          <h1 class="text-gray-500 sm:text-5xl text-lg text-center p-8">
            We can't seem to find the page you are looking for. Try the page
            below instead
          </h1>
        </div>

        <div class="flex justify-center">
          <a
            href="/"
            class="inline-flex text-2xl text-white font-inter font-light bg-gold border py-4 px-8 focus:outline-none hover:border hover:text-gold hover:bg-transparent border-gold"
          >
            Home
          </a>
        </div>
      </div>
    </section>
  </body>
</html>
