<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Display</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body class="font-inter">
    <section class="text-gray-600 body-font">
      <div class="container px-5 py-24 mx-auto">
        <a
          href="/"
          class="mx-auto text-white font-inter font-light bg-gold border py-2 px-6 focus:outline-none hover:border hover:text-gold hover:bg-transparent border-gold text-lg"
        >
          Previous Menu
        </a>
        <div class="flex flex-col text-center w-full mb-20">
          <h1
            class="sm:text-5xl text-3xl font-medium font-playFair mb-4 text-gray-900"
          >
            Kindly select a conference room for this display
          </h1>
        </div>
        <div class="flex flex-wrap -m-4 text-center">
          <% frontEndRooms.forEach(room => { %>
          <a
            href="/rooms/<%= room.name %>"
            class="p-4 md:w-1/4 sm:w-1/2 w-full"
          >
            <div
              class="border-2 border-gray-200 px-4 py-6 rounded-lg hover:border-gold hover:shadow-lg"
            >
              <h1 class="font-playFair font-medium text-4xl text-gold">
                <%= room.name %>
              </h1>
              <h2 class="title-font font-semibold text-2xl text-gray-900">
                <%= room.occupants %>
              </h2>
              <p class="leading-relaxed">Room <%= room.number %></p>
            </div>
          </a>
          <% }) %>
        </div>
      </div>
    </section>
  </body>
</html>
